h1{
    font-family: Arial;
    color: red;
}
p {
     font-family: Times New Roman;
    color: brown;
}

strong{
    color:purple;
}

i{
    color: green;
}
li {
    background-color:grey;
}

ul {
	width:337px;
	color: yellow;
    font-family: Courier New;
}

img{
    width:480px;
    
}