/*Fonts de google segun pedia la practica*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/*Para que todo se comporte en un modelo caja*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*-------------------TABLAS*/
table{
    border: 1px solid #000;
    border-collapse: collapse;
    background: white;
    color: Black;
}

tr{
    border: 1px solid #000;
}

th{
    border: 1px solid #000;
}

td{
    border: 1px solid #000;
}
/*--------------------------*/

/*----------------Formulario*/

.form-register {
    width: 95%;
    max-width: 500px;
    margin: auto;
    border-radius: 7px;
}

.form__titulo {
    background: red;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom: 5px solid white;
}

.contenedor-inputs {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: grey;
}

/*FOTO steve Jobs*/
.contenedor01 {
    padding: 10px 10px;
    background: grey;
    
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

.input-48{
    width: 100%;
}

.input-100{
    width: 48%;
}
/*--------------------------*/

body {
   font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: rgba(255, 0, 0, 0.8);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /*Para que tenga prioridad numero 1 de estar enfrente de los elementos*/
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
    padding: 5px;
}

header .contenedor {
    display: table;
    
}


/*----Menú----*/
.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: red;
    transition: all 0.5s;
    transform: translateY(-200%);
}

.menu a 
{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover 
{
    background: rgba(255,255,255,0.3);
}

#menubarra:checked ~ .menu {
    transform: translateX(0%);
}
section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
    font-weight: bold;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}

@media (min-width:768px) { 
    .sociales {
        width: auto;
    }
    
    footer .contenedor {
        justify-content: space-between;
    }
}


@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}


#blog h3, h4 {
    text-align: center;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}
#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#banner h2 {
    font-size: 28px;
}

#banner a {
    display: block;
    width: 230px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#banner a:hover {
    background: rgba(51,51,51,0.5);
}

@media (min-width:480px) {
    #banner h2 {
        font-size: 40px;
    }
    
    #banner a {
        margin-top: 25px;
    }
}

@media (min-width:768px) { 
    #banner {
        height: 300px;
        overflow: hidden;
    }
    
    #banner img {
        height: auto;
        margin-top: -100px;
    }
}

@media (min-width:1024px) { 
    #banner img {
        margin-top: -200px;
    }
}

#info 
{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: white !important;
	width:80%;	
	margin: 0 auto;
	color:black;

    text-align: center;
    padding: 20px;
}

#info .contenedor, #footer_registro .contenedor
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info0 {
    margin: 20px;
}

.info0 img 
{

    width: 180px;
    height: 180px;
    border-radius: 28px;
    border: 7px solid #00000017;
}




.text_uProcesador_Titulo
{
		font-size:19px;font-weight:600;
}

@media (min-width:480px) 
{
.text_uProcesador_Image
{
    float: initial;
    text-align: center;
}
.text_uProcesador
{

    width:100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify; 
}

.text_uProcesador_Titulo
{
	margin-top:15px;
	margin-bottom:20px;
	
}


    .menu 
    {
	background-color: #bd1c1c !important;
    }

    .info0 {
        width: 40%;
    }
}

@media (min-width:1024px) 
{

.text_uProcesador_Image
{
    float: left;
}
.text_uProcesador_Image image
{
    margin-top: 60px;
}

.text_uProcesador
{

		width:60%;
                float: left;
                padding-left: 20px;
}
    .info0 {
        width: auto;
    }
}
#menubarra {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

@media (min-width:1024px) 
{
    .menu 
    {
	background-color: rgba(255,0,0,0.1) !important;
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a 
    {
        border: none;
    }
    
    header label 
    { 
        display: none;
    }
}


.box_image
{
	height:240px;
}


#footer_registro
{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: white !important;
    width: 95%;
    margin: 0 auto;
    color: black;
    text-align: center;
    padding: 20px;
    background-image:url("https://hdwallsource.com/img/2014/7/solid-color-background-21964-22517-hd-wallpapers.jpg");
}








