*{
    box-sizing: border-box;
}

.columna {
    
    width: 31%;
    float: left;
    padding: 10px;
}

.box{
    
    background-color: darkgrey;
    border: 1px solid black;
}

.box > p {
    
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    
    margin-left: 5%;
}

.row > h1 {
    
    margin-left: 40%;
}

/*Lo que sale en la guia*/
@media (max-width:767px){
    
    .columna {
        
        width: 80%;
        margin-left: 6%;
    }
    
    .row > h1 {
        
        margin-left: 25%;
    }
}


.caja1 h2 {
    
    background-color: darksalmon;
    text-align: center;
    margin-left: 60%;
    border: 1px solid black;
    margin-top: 0%;
}

.caja2 h2 {
    
    background-color:brown;
    text-align: center;
    margin-left: 60%;
    border: 1px solid black;
    margin-top: 0%;
}

.caja3 h2 {
    
    background-color:darkkhaki;
    text-align: center;
    margin-left: 60%;
    border: 1px solid black;
    margin-top: 0%;
}


p {
    margin-top: -15px;

}